<h1 mat-dialog-title class="unselectable">Log in</h1>
<mat-dialog-content>
  <p>
    <mat-form-field color="accent">
      <mat-label>Login</mat-label>
      <input matInput type="email" [formControl]="emailControl" placeholder="email@example.com">
      <mat-error *ngIf="emailControl.errors?.email && !emailControl.errors?.required">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailControl.errors?.required">
        Email is required
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field color="accent">
      <mat-label>Password</mat-label>
      <input #password matInput type="password" [formControl]="passwordControl" placeholder="*****">
      <mat-error *ngIf="passwordControl.errors?.required">
        Password is required
      </mat-error>
    </mat-form-field>
  </p>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
  <button mat-button (click)="onConfirm()" cdkFocusInitial>Ok</button>
</div>
