<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'" position="end">
    <div id="side-navigation">
      <button color="accent" mat-raised-button (click)="openLoginForm()">
        Log in
        <mat-icon>login</mat-icon>
      </button>
      <button color="accent" mat-raised-button (click)="openRegistrationForm()">
        Sign up
        <mat-icon>app_registration</mat-icon>
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar id="header" color="primary">
      <span class="unselectable">LevelStudio</span>
      <div [style.width.%]="40"></div>
      <div [style.width.em]="12" style="display: flex; justify-content: space-between;">
        <button color="accent" mat-raised-button (click)="openLoginForm()" fxHide.xs>
          Log in
          <mat-icon>login</mat-icon>
        </button>
        <button color="accent" mat-raised-button (click)="openRegistrationForm()" fxHide.xs>
          Sign up
          <mat-icon>app_registration</mat-icon>
        </button>
      </div>
      <button color="primary" id="side-menu-button" mat-raised-button (click)="drawer.toggle()" fxHide fxShow.xs>
        <mat-icon id="side-menu-button-icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <div id="frame-container">
      <iframe width="560" height="315" [src]="safeURL"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </div>
    <mat-toolbar id="footer" color="primary">
      <span class="unselectable">Alkashi Inc.® All rights reserved</span>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>
